#topic-stance {
  display: flex;
  justify-content: space-between;
}


.MuiContainer-root {
    width: 444px !important;
}

.middleOR{
  padding: 2rem;
  text-align: center;
}

.MuiInputBase-input{
  width: 350px;
}